.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 30px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
}

.searchbar {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    height: 30px;
    display: flex;
    align-items: center;

}

.searchbarIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    width: 70%;
    border: none;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbarlinks {
    margin-right: 10px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
    align-items: center;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    color: #FFF;
    position: relative;
}

.topbarIconbadge {
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.topbarImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.linkProfile {
    text-decoration: none;
}