.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0px 0px;
}

.rigthbarBirthday {
    display: flex;
    align-items: center;
}

.rightbarBirthdayImage {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarBirthdayPeople {
    cursor: pointer;
}

.rightbarAdImage {
    margin-top: 12px;
    border-radius: 8px;
}

.rightbarOnlineFriends {
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    margin-bottom: 12px !important;
}

.rightbarTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rightbarInfo {
    margin-bottom: 10px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 600;
    font-size: 18px;
    color: #555;
}

.rightbarInfoValue {
    font-weight: 300;
    margin-left: 10px;

}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}